@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
  font-family: "Roboto", sans-serif;
  color: orange
}

.project_main,
.blog_main,
.resource_main {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: orange;
}

.chip {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 14px;
  border: 2px solid var(--border);
  background: var(--chip-bg);
  cursor: pointer;
  color: var(--text);
}